@media (max-width: 320px) {
.header-container { 
    padding: 20px 0;

}
.menu a, .logo a {
    padding: 5px 5px;
 
}
.nav {
padding: 20px 5px;
}
.columns {
  margin: 0px;
 }
.columns > li > p {
  width: 250px;
}
.columns > li > ul > li {
  width: 250px;
}
.columns > li > a{
  width: 100%;
}
}
@media (max-width: 375px) {

}
@media (max-width: 425px) {
  .center {
      width: 100%;
  }
  .header-container{ 
      padding: 20px 0;
  
  }
    .menu a, .logo a {
      display: flex;
      flex-direction: column;
   
  }
  .icon-bar {
    display: none;
  }
  .columns {
   width: 10%;
  }
  .columns > li {
    width: 300px;
    vertical-align: top;
  }
  .columns > li > p {
    width: 350px;
  }
  .columns > li > ul > li {
    width: 350px;
  }
  
  }


@media (max-width: 768px) {
  .header-container{ 
    padding: 20px 0;
}
.menu a, .logo a {
  display: flex;
  flex-direction: column;
}
.columns {
	padding-left: 0;
	height: auto;
	text-align: center;
}
.columns > li {
  width: 50%;
  vertical-align: top;
}
.columns > li > p {
  width: 230px;
}
.columns > li > ul {
  width: 230px;
}
}

@media (max-width: 1024px) {

  .services{
    padding: 20px 0;
  
  }
  .services article{
  
    margin: 0px;
  }
  .columns > li {
    margin: 5px 10px;
    padding: 5px;
  }
  .columns > li > p {
    font-size: 15px;
    line-height: 25px;
  }
  .columns > li > img {
    width: 180px;
  }
  .icon-bar {
    display: none;
  }
  
}