body{
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.header-container{
    color: #fff;
    background-color: #333;
    padding: 20px 0;
    justify-content: center; 
}
.header {
    width: 100%;
    display: flex;/*display flexible*/
    justify-content: space-between;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .logo{
    float: left; 
  }
  .menu a, .logo a {
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}
.menu a:hover {
    background-color: rgb(240, 10, 10);
}
.main{
    background-color: #79cbc7;
    padding: 2px 2px;
    text-align: center;
    border-bottom: 6px solid grey;
    margin: 0;
}
.main button{
    color:white;
    text-align: center;
    font-size:15px;
    background-color: red;
    border: 8px solid red;
    border-radius: 5px;
    cursor: pointer;
    float: center;
    margin: 15px 1px;
}
.main h1{
    text-align: center;
    margin-bottom: 20px;
}
.services{
    text-align: center;
    height: auto;
    border-top: solid 20px #e6e4dd;
    background-color:  #f5f4f0;
    padding-top: 20px;
    border-bottom: 6px solid #f5f4f0;
    margin: 0;
}
.services article{
    color:blue;
    margin: 8px 1px;
}
.nav {
    width: 100%;
	margin: 0;
	height: auto;
	padding: 20px 5px;
}
.columns {
	padding-left: 0;
	height: auto;
	text-align: center;
}
.columns > li {
	display: inline-block;
	width: 250px;
	text-align: left;
    margin: 10px 85px;
    vertical-align: top;
}
.columns > li > img {
	margin: 0;
	width: 230px;
}
.columns > li > h3 {
    font-weight: 500px;
    color:blue;
}
.columns > li > p {
	color: gray;
	font-size: 15px;
	line-height: 25px;
}
.columns > li > ul {
	padding-left: 15px;
    list-style-type: square;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}
.columns > li > ul > li {
	font-size: 15px;
	color: gray;
}
.columns > li > a{
    padding-left: 0;
    margin-bottom: 10px;
    text-decoration: none;
}
.icon-bar {
    position: fixed;
    top: 25%;
    width: 50px;
    height: 50px;
  }
.icon-bar a {
    display: block;
    text-align: center;
    padding: 14px;
    color: white;
    font-size: 20px;
  }
  
.icon-bar a:hover {
      background-color: #000;
  }
.twitter {
    background: #55ACEE;
    color: white;
  }
.facebook {
    background: #55ACEE;
    color: white;
    
  }
footer { 
    padding: 10px 0; 
    width: 100%;
	background-color: #333;
    border-top: solid 10px #505050;
    color: white;
    text-align: center;
    margin: 0;
}
  .column1, .column2, .column3{
      display: flex;
      float: left;
      width: 33.3%;
      justify-content: center;
      align-items: center;
      background-color: #EBE8E4;   
  }
  .column1 > img, .column2 > img, .column3 > img{
    width: 65px;
    height: 65px;
    margin: 20px 5px;
  }
  .column1 > a, .column2 > a, .column3 > a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: inherit;
    font-size: 20px;
  }


  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
  .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: 25px auto;
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
  }

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;/* trece textul peste imagine*/
    top: 0;/* apare 1/3 doar la prima imagine */
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  } 