* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
    font-size: 18px;
    font-family: sans-serif;
    color: #5D6063;
}

a:link, a:visited {/* de ce trebuie sa folosim asta, dar nu a simplu????*/
    color:#5D6063;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
 }

 .header{
     position: fixed;
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 70px;
     background: #D6E9FE;
 }
 .logo > img{
     width:100px;
     height: 100px;
 }
.menu{
    margin-top: 15px;
}
.menu > li{
    display: inline;/* meniul apare deja in linie*/
    margin-right: 50px;/*marginea din dreapta constitue 50px */
}
.menu > li:last-of-type { /* proprietati doar pentru ultimul li*/
    margin-right: 0;/*marginea din dreapta constitue 0px */
  }
  .features-menu {
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 60px;
    position: absolute;
    top: -25px;
    left: -30px;
  }
  .features-menu li {
    list-style: none;
    padding: 0 40px 10px 20px;
    margin: 10px;
    border-bottom: 1px solid #FFF;
  }

  .features-menu li:last-of-type {
    border-bottom: none;
  }
  .dropdown {
    position: relative;
  }
  .dropdown > span {
    z-index: 2;/* Features mereu este deasupra meniului dropdown, daca era sa fie -2 era sa fie desubt*/
    position: relative;  /* This is important! */
    cursor: pointer;
  }

  .dropdown:hover .features-menu {
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
  }

  .features-menu{
      display: none;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    background-color: #EAEDF0;
    height: 600px;
    order: 1;
  }
  
  .sign-up {
    background-color: #D6E9FE;
    height: 200px;
    order: 2;
  }

  .feature-1 {
    background-color: #F5CF8E;
  }
  
  .feature-2 {
    background-color: #F09A9D;
  }
  
  .feature-3 {
    background-color: #C8C6FA;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }