      html {
        font-family: sans-serif;
		font-size: 15px;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
		color: black;
		text-align: center;
		border: 3px solid rgba(0,0,200,0.6);
		
		font-family: sans-serif;
	font-weight: 900;

      }

      .lastResult {
        color: white;
        padding: 3px;
      }

   