  button {
    margin-top: 610px; 
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: peachpuff;
    border: none;
    float: left;
  }
  sec_button {
    margin-top: 610px; 
    margin-right:720px; 
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: peachpuff;
    border: none;
    float: right;
  }
  button:hover, sec_button:hover {
    background: lightgray;
  }